# Ignore markdown and text documents except the top-level README
**/*.md
**/*.txt
!/README.md

# Ignore hidden files and directories
**/.*
!/.gitignore

# Ignore `hello-world` exercises
**/hello-world

# Ignore `download` scripts
**/download

# Ignore `node_modules`, *.lock, *.json
**/node_modules
**/*.lock
**/*.json

# Ignore `lib` directories and files
**/lib*

# Ignore `vendor` directories
**/vendor

# bash
/bash/**/*_test.sh

# c
/c/**/test
/c/**/makefile
/c/**/*.out

# coffeescript
/coffeescript/**/*spec.coffee
/coffeescript/**/*.js

# cpp
/cpp/**/build
/cpp/**/test
/cpp/**/*_test.cpp
/cpp/**/CMakeLists.txt

# crystal
/crystal/**/spec
/crystal/**/shard.yml
/crystal/**/shard.lock

# csharp
/csharp/**/bin
/csharp/**/obj
/csharp/**/*.csproj
/csharp/**/*Test.cs

# elixir
/elixir/**/_build
/elixir/**/test
/elixir/**/mix.exs

# elm
/elm/**/tests
/elm/**/elm-package.json
/elm/**/package.json

# erlang
/erlang/**/_build
/erlang/**/test
/erlang/**/rebar.config

# java
/java/**/build.gradle
/java/**/build
/java/**/test

# javascript
/javascript/**/*.spec.js
/javascript/**/*.config.js

# lua
/lua/**/*_spec.lua
/lua/**/.busted

# perl5
/perl5/**/*.t

# php
/php/**/*_test.php

# powershell
/powershell/**/*.tests.ps1

# python
/python/**/*_test.py

# ruby
/ruby/**/*_test.rb
/ruby/**/Gemfile
/ruby/**/Gemfile.lock

# rust
!/rust/**/lib.rs
/rust/**/tests
/rust/**/Cargo.toml

# typescript
/typescript/**/jest.config.js
/typescript/**/*.test.ts

# vimscript
/vimscript/**/*.vader
